html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
}

.rrsp-page {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.rrsp-container {
    width: 100%;
    max-width: 800px; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
    text-align: center;
    position: relative;
    top: 3%;
}


.rrsp-container h1 {
    color: #160b45;
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}


.rrsp-container h2 {
    color: #160b45;
    font-size: 28px;
    margin-bottom: 15px;
}


.rrsp-container p {
    color: #333;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}


.rrsp-container ul {
    color: #333;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
    padding-left: 20px;
    text-align: left;
}

.rrsp-container ul li {
    font-size: 16px;
    color: #160b45;
    margin-bottom: 10px;
    text-align: left;
}


.rrsp-container a {
    color: #160b45;
    text-decoration: none;
}

.rrsp-container a:hover {
    text-decoration: underline;
}


.rrsp-container button {
    padding: 10px 20px;
    background-color: #160b45;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.rrsp-container button:hover {
    background-color: #f8f9fa;
    color: #160b45;
}


@media (max-width: 768px) {
    .rrsp-container {
        padding: 15px;
        width: 90%; 
    }
    
    .rrsp-container h1 {
        font-size: 28px;
    }

    .rrsp-container h2 {
        text-align: center;
        font-size: 24px;
    }
    .rrsp-container ul {
        text-align: center;
    }
    .rrsp-container p,
    .rrsp-container ul li {
        font-size: 14px;
    }

    .rrsp-container button {
        padding: 10px;
    }
}
